.fiche-container {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    width: 80%;
    margin:auto;
}
.collapse_container{
    display: flex;
    flex-direction: row;
    gap: 6%;
    height: 450px;
    width:100%;
}
.Host-Title h1{
color:#FF6060;
font-size: 36px;
}

.rate-host-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.Info-logement{
	    width: 100%;
	    justify-content: space-between;
		flex-direction: row;
		align-items: center;
	}

    @media screen and (max-width: 768px ) {
        
        .Info-logement{
            flex-direction: column;
          
            
        }
        .rate-host-container{
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            width:100%;
         
        }
        .collapse_container{
            flex-direction: column;    
        }
        .Host-Title h1{
        font-size: 18px;
        }
        .Host-Title h2{
            font-size: 14px;
            }
        
    }