.HeaderContainer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:40px;
}
.HeaderImage{
    height: 68px;
    width: 210px;
}

.StyledLink{
    padding: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    text-align: right;
}