.host-comp {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 100%;
}

.hostPicture {
	display: flex;
	margin-left: 10px;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background: #c4c4c4;

}

.hostPicture img {
		width: 100%;
         height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}


.host-name {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 63px;
	height: 66px;
	text-align: right;
    font-size: 18px;
	color: #FF6060;

}

.host-container {
	display: flex;
	justify-content: space-between;
}

.Info-logement{
	display: flex;
	align-items: flex-end;	
}