.rate-counter{
    display: flex;
    justify-content: space-between;
    gap:15px;
    width: 98px;
    height: 18px;
    margin-top: 24px;
}
.star{
    width: 15px;
    height: 15px;
}
@media screen and (max-width: 768px ) {
    .rate-container{
        display: flex;
        align-items: flex-start;
    }
}