.HeaderContainer{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin: 40px 100px ;
}
.HeaderImage{
    height: 68px;
    width: 210px;
}

.StyledLink{
    padding: 15px;
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}
.active{
    text-decoration-line: underline;
    
}

@media screen and (max-width: 768px ) {
    .StyledLink{
        font-size: 12px;
        text-transform: uppercase;

    }
    .HeaderImage{
        height: 46px;
        width: 145px;
    }
}